:root {
    --font-primary: "Inter", sans-serif;

    --color-grey5: #868E96;
    --color-grey4: #121214;
    --color-grey3: #212529;
    --color-grey2: #343B41;
    --color-grey1: #868E96;
    --color-grey0: #F8F9FA;

    --color-primary: #FF577F;
    --color-primary-focus: #FF427F;
    --color-primary-negative: #59323F;

    --success: #3FE864;
    --negative: #E83F5B;

}


.toast-custom-background {
    background-color: var(--color-grey2);
    color: var(--color-grey0);
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-grey4);
}